{% extends 'base.html' %}

{% load static %}

{% block content %}
{% csrf_token %}



<img src="{% static 'images/about_us_image.jpg' %}" class="img-fluid w-100" alt="Responsive image">

<div class="container-fluid mb-5">

    <div class="row justify-content-center text-center">
        <div class="col-11 d-lg-flex">
            <div class="col-12">
                <img class="mt-5 dalisay_about_image" src="{% static 'images/dalisay_logo_no_bg.png'%}" height="90px" alt=""><br>
                <div class="text logo_text_added" style="font-size: 55px;"> Our Story</div>
                <div class="mt-1 about_description" style="color: gray; font-size:20px">
                    <span class="animate_product show-on-scroll"> Established in 2018, the essence of Dalisay is intertwined with the word ‘PURE’. 
                        Dalisay was born out of the need of the hour - to unjunk the unhealthy without compromising on taste and making it nutritious. 
                        In today’s health-conscious environment, there has been a disconnect between pure, nutritious food and “sinful” delicious food, with 
                        many believing that they must choose one or the other. However, we decided to take a different approach - we wanted to provide our 
                        children with healthier alternatives to the junk food that they regularly consume, thereby bridging this gap without having to 
                        compromise on taste and flavour.<br>
                        Though our ride had a few hiccups at first, trying to make unhealthy food both, fun and nutritious, we came up with a broad range of 
                        products that are not only relished by kids, but adults as well. This vision was realized with the conception of Dalisay - the perfect 
                        blend of the “Sinful” and the “Pure”.<br><br>
                        With health being the top priority, we focus on using the best ingredients for our products, such as whole grains, dry fruits, and 
                        natural sweeteners free from preservatives. All our products are freshly prepared and can be customized for Gluten-free, Vegan or most dietary concerns.
                        We currently operate from two locations in South Mumbai. Please contact us if you have any questions, and place your order with us now!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row mt-5 text-center">
        <div class="col-12 text logo_text_added" style="font-size: 50px;"> Our Founders</div>
    </div>
    <div class="row mt-1 mb-5 justify-content-center">
        <div class="col-10 col-md-6 mb-4 text-center">
            <div class="about_founder_image" style="background-color:#f05f7f; border-radius:50%; margin:auto;"></div>
            <div class="mt-3 text logo_text_added" style="margin: auto; font-size: 40px;">Sangeeta Shah</div>

        </div>
        <div class="col-10 col-md-6 mb-4 justify-content-center text-center">
            <div class="about_founder_image" style="background-color:#f05f7f; border-radius:50%; margin:auto;"></div>
            <div class="mt-3 text logo_text_added" style="margin: auto; font-size: 40px;">Karishma Jasra</div>

        </div>
    </div>
-->
</div>
{% endblock %}